body{
    /* background-color: wheat; */
    color: #EDF4F2;


}
  /* Navigation main */
.nav {
    height: 60px;
    background-color: #D32626;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.808);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: white;
  }

/* Utility class start */
.fs-8{
    font-size: .8rem;
}
.fs-7{
    font-size: .9rem;
}
/* Utility class end */

/* My-heading start */

.my-heading{
    background-color: #D32626;
    color: #EDF4F2;
    padding: .5rem 0rem;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.45);
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.808);

}
.my-ratting{
    height: 45px;
    width: 100px;
    margin: 1px;
    border-radius: 7px;
}
.my-ratting:hover{
    background-color: #AA3A3A;
}
.rating-numb p{
    font-size: .8rem;
}
a{
    text-decoration: none;
    color: #EDF4F2;
}
a:hover{
    color: #79D70F;
}
a svg:hover{
    color: #79D70F;
}

/*                     SubNAv start here */
.sub-nav{
    background-color: #AA3A3A;
    color: #EDF4F2;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    /* border-radius: 10px; */
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.808);
    padding: 0rem 2.5rem;


}
.sub-nav ul{
    display: block;
    margin: 0;
    padding: .5rem;
    text-decoration: none;
    list-style: none;
    display: flex;

}
.my-nav-ul li{
    padding: .3rem 0rem;
  

}
.my-nav-ul li a{
    position: relative;
    padding: 3px 6px;

}
.my-nav-ul li a::before{
    content: "";
    position: absolute;
    top: 24px;
    left: 6px;
    height: 1px;
}
.my-nav-ul li a:hover::before {
    width: 90%;
    background-color: rgb(255, 255, 255);

}
.sub-nav .my-btn{
    color: #EDF4F2;
}
.sub-nav .my-btn:hover{
    background-color: #0000002c;
    border-radius: 5px;
    opacity: 1;
    color: #79D70F;

}
.sub-nav .sheir-btn{
    margin: 8px;
    padding: 0px 7px;
    border-radius: 93px;

}
.sub-nav .sheir-btn:hover{
    background-color: #0000002c;
}
.sub-nav .sheir-btn svg{
    margin-top: 5px;
}

/*                        Singal post start */
   
.post-img{
    /* padding-bottom: 0px !important; */
    position: relative;
}
.post-img-box{
    position: relative;
    width: 100%;
    height: 100%;

}
.post-img-box .single-img{
    position: relative;
    border-radius: 2px;
    width: 100%;
    height: 100%;


}
.overly{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(24, 23, 23, 0.273); */
    mix-blend-mode: overlay;

}
.post-img-box:hover .overly {
    z-index: 2;
    background: rgba(24, 23, 23, 0.273);


}
.post-img-box .text-font{
    z-index: 3;
}
.post-img-box .icon-back{
    z-index: 3;
}
.post-img-box .icon-back:hover{
    color: red;
}

/*             Vdeo part */
.post-video{
    position: relative;
}
.play{
    display: inline-flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;

}
.post-video:hover .play svg{
    color: chartreuse;

}
.post-video-box{
    
}
.post-video-box:hover .overly{
    z-index: 2;   
}
.single-video{
    position: absolute;
    object-fit: cover;
    height: 98%;
    width: 99%;

}
.three-dot{
    display: inline-block;
    float: right;
    right: 15px;
    top: 10px;
    z-index: 3;


}
.three-dot:hover .three-dot-icon{
    color: #79D70F;
    z-index: 10;
}
.three-dot-icon{
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
}

.three-dot-icon::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: -16px;
    top: -7px;
    padding: 19px;
    border-radius: 29px;
    background: rgba(231, 12, 12, 0.184);
    z-index: 5;

}
.three-dot-icon::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: -16px;
    top: -7px;
    padding: 19px;
    border-radius: 29px;
    background: rgba(255, 255, 255, 0.184);
    z-index: 5;

}

/*                      Right Post more box */
.post-more-box{
    position: relative;
    color: #EDF4F2;
    background-color: #AA3A3A;
    border-radius: 5px;
    height: 50%;
    text-align: center;
    justify-content: center;
    padding: 4rem 0rem;
    box-shadow: 0px 0px 2px rgba(255, 253, 253, 0.808);
}
.post-more-box:hover .overly{
    background: rgba(24, 23, 23, 0.273);
    z-index: 2;
   

 
}


/*                    Heading for all box Start*/
.heading-text{
    color: black;
 }
.heading-text:hover svg{
    color: #79D70F;
 }
 .heading-text a{
     display: inline-block;
     margin: 0;
 }
 .heading-text .heading-text-p{
     color: black;
     font-size: 1.5rem;
     padding-left: 5px;
     margin: 14px 0px;
     position: relative;
 }
 .heading-text .heading-text-p::before{
     content: "";
     position: absolute;
     height: 57%;
     width: 3%;
     left: -5px;
     top: 9px;
     background: #79D70F;
     
 }
 .heading-text-p .degit{
     position: relative;
     top: -3px;
 
 }
 .heading-text-p:hover .icon{
     color: #79D70F;
 
 }

/*                     Heading for all box end*/


/*                       more trailor box         */



.more-trailer-box{
    /* border: 2px solid red; */

}
.more-trailer-box a{
    color: black;

}
.left-part-video{
    /* border: 2px solid rgb(32, 16, 16); */
    margin: 0rem 1rem;


}
.more-trailer-video{
    position: relative;
    overflow: hidden;
    margin: 0rem 2rem;

}
.carsoul-video{
    /* border: 2px solid blue; */
    /* margin: 0px 40px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    position: relative;
    width: 200%;
    /* left: -10%; */
    transition: all;
    transition-timing-function: ease;
    transition-delay: .1s;
    transition-duration: 1s;
}
.box-1{
    /* position: absolute; */
    /* left: 20%; */
    float: left;
    width: 30%;
   
}
.more-trailer-link{
    padding: 5px 7px;
    position: relative;
    height: 100%;
    width: 99%;

    /* height: 400px; */
    /* width: 300px; */

}
.play-btn-small{
    display: inline-flex;
    align-items: center;
    position: absolute;
    width: 150px;
    bottom: 28px;
    left: 20px;
    z-index: 3;
    color: #EDF4F2;

}
.more-trailer-link:hover svg{
    color: #79D70F;
   
}
.video-1{
    object-fit: cover;
    height: 200px;
    width: 300px;
    transition: all;
    transition-delay: 1s;
}
.trailer-a{
    color: black;
    font-weight: 400;
}
.trailer-a:hover{
    color: black;
    border-bottom: 1px solid black;
}
.side-icon-right{
    color: black;
    position: absolute;
    top: 132px;
    right: 18px;
    font-size: 2rem;
}
.side-icon-left{
    color: black;
    position: absolute;
    top: 132px;
    left: 18px;
    font-size: 2rem;
}
/*                                Img  Part   */
.ImgPart{
    position: relative;
    transition: all;
    transition-timing-function: ease-in-out;
    transition-delay: .1s;
    transition-duration: 1s;
}
.more-image{
    margin: 0rem 4rem;
}
#sliderImg {
    text-align: center;
}
#sliderImg a img{
    max-width: 175px;
    width: 24%;
}
/*                                      Top Cast start  */
.artist-list{
    /* border: 1px solid red; */

}

.artist{
    /* border: 1px solid rgb(60, 56, 56); */
    padding: .4rem;

}
.artist-1{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;

}
.artist-1 p{
   color: black;
    padding: 1.5rem 1rem;

}
.artist-1 img{
    width: 25%;
    clip-path: circle();

}
.artist-img{
}

/*                        right-part-moreExp                  */
.right-part-moreExp{
    /* border: 2px solid red; */

}
.list-image{
    position: relative;
    height: 100%;
    width: 100%;
}
.myOverly{
    background: rgba(0, 0, 0, 0.205);
}
.list-image:hover .overly{
    z-index: 2;
    background: rgba(153, 137, 137, 0.388);
}

.list-link{
        /* position: relative; */

        /* height: 100px;
        width: 100px; */
}
.myBtn-small{
    bottom: 10px;
    left: 5px;
}
.list-link img{
    height: 100%;
    width: 100%;

}


/*                   Editional List start */
.editional-list{
    /* border: 1px solid black; */
}
.movie-item{
    /* border: 1px solid black; */
    border: 1px solid rgb(139, 139, 139);
    border-radius: 3px;
    margin: 0;
    height: 76px;

}
.movie-item-text{


}
.movie-item-text a:hover{
    text-decoration: underline;

}
.update-time{
    float: bottom;
}
.movie-item-img{
    /* position: relative; */

}
.movie-item-img img{
    height: 100%;
    width: 90%;
    float: right;
}
.movie-item-img:hover{
    opacity: .8;
}
.creat-a-list{
    padding: 5px;
    
} 
.creat-a-list:hover{
    background-color: rgba(63, 60, 60, 0.191);
    
} 
.creat-a-list a{
    text-align: center;
    color: black;

}
.creat-a-list:hover svg{
    color: black !important;
}