body{
    background-color: #F1FAEE;
    color: #EDF4F2;


}
  /* Navigation main */
.nav {
    height: 60px;
    background-color: #D32626;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.808);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: white;
  }
.max-width{
     max-width: 890px;
     margin-left: 3rem;
}
.max-lg-width{
    max-width: 1540px;
    /* text-align: center; */
}


/*                             Utility class start */
.fs-8{
    font-size: .8rem;
}
.fs-7{
    font-size: .9rem;
}
.bdr-bottom:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 0.735);
}
.my-a:hover{
    text-decoration: underline;
}
.a-green{
    color: #0a58ca !important;


}
a{
    text-decoration: none;
    color: #EDF4F2;
}
a:hover{
    color: #79D70F;
}
a svg:hover{
    color: #79D70F;
}
/*                         Utility class end */

/*                    My-heading start */

.my-heading{
    background-color: #D32626;
    color: #EDF4F2;
    padding: .5rem 0rem;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.45);
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.808);
}
.my-ratting{
    height: 45px;
    width: 100px;
    margin: 1px;
    border-radius: 7px;
}
/* responsive */
.resp-rating{
    display: none;
}
.my-ratting:hover{
    background-color: #AA3A3A;
}
.rating-numb p{
    font-size: .8rem;
}


/*                                     SubNAv start here                */
.sub-nav{
    background-color: #AA3A3A;
    color: #EDF4F2;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.808);
    padding: 0rem 2.5rem;
}
.sub-nav ul{
    display: block;
    margin: 0;
    padding: .5rem;
    text-decoration: none;
    list-style: none;
    display: flex;
}
.my-nav-ul li{
    padding: .3rem 0rem;
}
.my-nav-ul li a{
    position: relative;
    padding: 3px 6px;
    color: #EDF4F2;
}
.my-nav-ul li a:hover{
    color: #79D70F;
}
.my-nav-ul li a::before{
    content: "";
    position: absolute;
    top: 24px;
    left: 6px;
    height: 1px;
}
.my-nav-ul li a:hover::before {
    width: 90%;
    background-color: rgb(255, 255, 255);
}
.sub-nav .my-btn{
    color: #EDF4F2;
    background-color: transparent;
}
.sub-nav .my-btn:hover{
    background-color: #0000002c;
    border-radius: 5px;
    opacity: 1;
    color: #79D70F;
}
.sub-nav .sheir-btn{
    margin: 8px;
    padding: 0px 7px;
    border-radius: 93px;
}
.sub-nav .sheir-btn:hover{
    background-color: #0000002c;
}
.sub-nav .sheir-btn svg{
    margin-top: 5px;
}

/*                              Singal  post  start               */

.specific-post{
    background-color: #D32626;
}
.post-img{
    position: relative;
}
.post-img-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.post-img-box .single-img{
    position: relative;
    border-radius: 2px;
    width: 100%;
    height: 100%;
}
.overly{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}
.post-img-box:hover .overly {
    z-index: 2;
    background: rgba(24, 23, 23, 0.273);
}
.post-img-box .text-font{
    z-index: 3;
}
.post-img-box .icon-back{
    z-index: 3;
}
.post-img-box .icon-back:hover{
    color: red;
}

/*                          Tailer main  Vdeo part             */
.post-video{
    position: relative;
}
.play{
    display: inline-flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
}
.post-video:hover .play svg{
    color: chartreuse;
}
.post-video-box{
    
}
.post-video-box:hover .overly{
    z-index: 2;   
}
.single-video{
    position: absolute;
    object-fit: cover;
    height: 98%;
    width: 99%;
    left: 3px;
}
.three-dot{
    display: inline-block;
    float: right;
    right: 15px;
    top: 10px;
    z-index: 3;
}
.three-dot:hover .three-dot-icon{
    color: #79D70F;
    z-index: 10;
}
.three-dot-icon{
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
}
.three-dot-icon::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: -16px;
    top: -7px;
    padding: 19px;
    border-radius: 29px;
    background: rgba(231, 12, 12, 0.184);
    z-index: 5;

}
.three-dot-icon::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: -16px;
    top: -7px;
    padding: 19px;
    border-radius: 29px;
    background: rgba(255, 255, 255, 0.184);
    z-index: 5;

}
.previews{
    position: absolute;
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.219);
    padding: 1rem 2rem;
    margin: 1rem;
    z-index:35;
    right: 0;
    top: 34px;
    display: none;
}

/*                            Right Post more box                        */
.my-svg{
    margin-top: 30px;
}
.post-more{

}
.post-more-box{
    position: relative;
    color: #EDF4F2;
    background-color: #AA3A3A;
    border-radius: 5px;
    height: 50%;
    text-align: center;
    justify-content: center;
    padding: 4rem 0rem;
    box-shadow: 0px 0px 2px rgba(255, 253, 253, 0.808);
}
.post-more-box:hover .overly{
    background: rgba(24, 23, 23, 0.273);
    z-index: 2;
   
 
}

/*                                         Detals              */
.detals{
    background-color: #D32626;
    border-top: 1px solid rgba(255, 255, 255, 0.529);
    color: #EDF4F2;
}
.my-btn-grup{
    margin: 16px 0px;
}
.my-btn-grup .my-btn{
    border-radius: 20px;
    color: #EDF4F2;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.824);
    margin: 0px 7px;
    padding: 6px 12px;
}
.my-btn:hover{
    color: black;
    background-color: rgba(0, 0, 0, 0.158);
}
/* fot responsive top-creadit */
.top-creadit{
    display: none;
}
.top-creadit a{
}
.my-text-detals{
    color: white;
}
.my-text-detals span{
    color: #352727;
}
.my-text-detals a:hover{
    color: #05ec34;
}
.Watchlist{
    /* background-color: blue; */ 
}
.Watchlist-top{
    padding: 7px 5px;
    display: flex;
}
.Watchlist-top p{
    background-color: #AA3A3A;
    padding: 7px 5px;
    width: 360px;
    display: inline;
}
.arrow-bottom{
    background-color: #AA3A3A;
    padding: 5px;
    margin-left: 3px;
}
.Watchlist-link a{
    padding: 0px 5px;

}




/*                    Heading for all box Start*/

.more-trailer-box a{
    color: black;
}
.heading-text{
    color: black;
 }
.heading-text a:hover svg{
    color: #79D70F;
 }
 .heading-text a{
     display: inline-block;
     margin: 0;
 }
 .heading-text .heading-text-p{
     color: black;
     font-size: 1.5rem;
     padding-left: 5px;
     margin: 14px 0px;
     position: relative;
 }
 .heading-text .heading-text-p::before{
     content: "";
     position: absolute;
     height: 57%;
     width: 3%;
     left: -5px;
     top: 9px;
     background: #79D70F;
     
 }
 .heading-text-p .degit{
     position: relative;
     top: -3px;
 }
 .heading-text-p:hover .icon{
     color: #79D70F;
 
 }

/*                     Heading for all box end     */

/*                       more trailor box         */


.videoPart{
    position: relative;
    /* margin: 0rem 2rem; */
}
.more-trailer-video{
    position: relative;
    overflow: hidden;
    margin: 0rem 3rem;
    padding-bottom: 3rem;
    /* border: 2px solid red; */
}
.video-icon-right,
.video-icon-left
{
    color: rgb(255, 245, 245);
    position: absolute;
    top: 42%;
    vertical-align: middle;
    font-size: 2rem;
    z-index: 3;
    padding: 0px 6px;
    background-color: #79D70F;
    border-radius: 2px;
}
.video-icon-left{
    left: 51%;
}
.video-icon-right{
    right: 51%;
}
.more-trailer-video a:hover{
    color: #79D70F;
}
.carsoul-video{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    position: relative;
    width: 200%;
    transition: all ease 1s .1s;
  
}
.box-1{
    width: 25%;
}
.more-trailer-link{
    padding: 5px 7px;
    position: relative;
    height: 100%;
    width: 99%;

    /* height: 400px; */
    /* width: 300px; */

}
.play-btn-small{
    display: inline-flex;
    align-items: center;
    position: absolute;
    width: 150px;
    bottom: 53px;
    left: 39px;
    z-index: 3;
    color: #EDF4F2;

}
.more-trailer-link:hover svg{
    color: #79D70F;
   
}
.video-1{
    object-fit: cover;
    height: 100%;
    width: 97%;
    /* margin: 0px 12px; */
    
}
.trailer-a{
    color: black;
    font-weight: 400;
}
.trailer-a:hover{
    color: black;
    border-bottom: 1px solid black;
}
.side-icon-right,
.side-icon-left{
    color: rgb(255, 245, 245);
    position: absolute;
    top: 51%;
    font-size: 2rem;
    z-index: 3;
    padding: 0px 6px;
    background-color: #79D70F;
    border-radius: 2px;
}
.side-icon-left{
    left: 4%;

}
.side-icon-right{
    right: 4%;

}
/*                                Img  Part   */
.ImgPart{
    position: relative;
    transition: all;
    transition-timing-function: ease-in-out;
    transition-delay: .1s;
    transition-duration: 1s;
}
.more-image{
    margin: 0rem 4rem;
}
#sliderImg {
    text-align: center;
}
#sliderImg img{
    max-width: 175px;
    width: 24%;
}
/*                                      Top Cast start  */
.artist-list{
    /* border: 1px solid red; */
    overflow: hidden;

}

.artist{
   
}
.artist-1{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    margin: 1rem;


}
.artist-1 p{
   color: black;
    padding: 1.5rem 1rem;

}
.artist-1 img{
    width: 26%;
    clip-path: circle();
    height: 113px;

}
.artist-img{
}
/*                      Directors information start */
.Directors-information{
    
}
.Directors-information a{
    /* color: #3d31dc; */
    color: #0a58ca;

    
}
.Directors-information a:hover{
    text-decoration: underline;

}
/*                                       Sugg box start */
.svg-right{
    float: right;
    margin: 1rem 5rem;
}
.svg-right:hover{
    background-color: rgba(15, 13, 13, 0.048);
    border-radius: 5px;
    color: #79D70F;
}
.suggest-box{
    overflow: hidden;
}
.carsoul-suggest{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    position: relative;
    width: 250%;
    transition: all ease 1s .1s;
}
.sugg-box-1{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.568);
    position: relative;
    z-index: 1;
    /* max-width: 550px; */
    /* height: 100%; */
    width: 15%;
    margin: 5px;
}
.sugg-icon-right,
.sugg-icon-left
{
    color: rgb(255, 245, 245);
    position: relative;
    top: 42%;
    vertical-align: middle;
    font-size: 2rem;
    z-index: 3;
    padding: 0px 6px;
    background-color: #79D70F;
    border-radius: 2px;
}
.sugg-icon-left{
    left: 1%;
    top: 220px;
   
}

.sugg-icon-right{
    left: 95%;
    bottom: 292px;
}


.sugg-icon{
    position: absolute;
    color: white;
    z-index: 4;
    top: 0;
    left: 2px;
}
.sugg-icon:hover{
    opacity: .7;
    
}
.ipc-back{
    color: rgb(175, 175, 175);
    z-index: 3;

}
.ipc-hover{
    color: white;
    background-color: white;
}
.sugg-image{
    position: relative;
    
}
.sugg-image:hover .overly{
    background-color: rgba(15, 14, 14, 0.11);
    
}
.sugg-image-img{
    width: 100%;
    height: 90%;
    
}
.ratting-box{
    /* border: 2px solid red; */

}
.sugg-ratting{
    margin: .5rem 1.2rem;


}
.ipc-bloc-star{
    /* color: #05ec34; */
}
.ipc-star{
    margin-left: 2rem;
    /* color: transparent; */
    /* background-color: white; */

}
.ipc-star:hover{
    background-color: rgba(0, 0, 0, 0.11);
    

}
.sugg-name{
    margin: 1rem 1.2rem;

}
.sugg-watchlist{
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 7px;
    padding: .3rem 2.5rem;
    margin: .5rem 1.2rem;
}
.sugg-watchlist:hover{
    background-color: rgba(8, 8, 8, 0.158);

}
/*                 STORYLINE START */
.my-btn-grup-1{
    /* background-color: #05ec34; */
}
.my-btn-grup-1 .my-btn{
    border-radius: 20px;
    color: #000000;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.233);
    margin: 0px 7px;
    padding: 6px 12px;
}
/*                       Reviews  */
.reviews-box{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.603);
    padding: 1rem;
}
.icon-like{
    padding: .5rem;
  position: relative;
}
.svg-like::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    clip-path: circle();
    left: -49px;
    top: 3px;
  }
.icon-like:hover .svg-like::before{
    background-color: rgba(0, 0, 0, 0.096);
}
.icon-dislike{
    position: relative;
    padding: .5rem;
}
.svg-dislike::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    clip-path: circle();
    left: 0px;
    top: 1px;
}
.icon-dislike:hover .svg-dislike::before{
    background-color: rgba(0, 0, 0, 0.096);
}
.sheir-icon{
    position:relative;
    top: 2px !important
}
.i-dot{
    clip-path: circle();
    padding: 1rem;   
}
.i-dot:hover{
    background-color: rgba(0, 0, 0, 0.096); 
}

/*           Socal list */
.socal-icon-list{
    position: absolute;
    right: 75px;
    display: none;
    transition: all ease 1s .1s;

}
.socal-icon-list ul{
    background-color: rgb(0, 0, 0);
    display: inline-block;
    padding: 1rem;
    border-radius: 5px;


}
.socal-icon-list ul li{
    border: 1px solid;


}
.socal-icon-list ul li span{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}


.socal-icon-list ul li:hover{
    background-color: rgba(255, 255, 255, 0.315);

}







/*                        right-part-moreExp                  */
.right-part-moreExp{
    /* border: 2px solid red; */
    padding: 0rem 3rem;


}
.my-list-icon{
    margin-top: 5px;
}
.list-image{
    position: relative;
    height: 100%;
    width: 100%;
}
.myOverly{
    background: rgba(0, 0, 0, 0.205);
}
.list-image:hover .overly{
    z-index: 2;
    background: rgba(153, 137, 137, 0.388);
}

.list-link{
        /* position: relative; */

        /* height: 100px;
        width: 100px; */
}
.myBtn-small{
    bottom: 13px;
    left: 15px;
}
.list-link img{
    height: 100%;
    width: 100%;

}
.list--text{
    font-size: 1.2rem;
    margin-left: 3px;
    text-align: center;
    justify-content: center;
}


/*                   Editional List start             */
.editional-list{
    /* border: 1px solid black; */
    position: relative;
}
.movie-item{
    /* border: 1px solid black; */
    border: 1px solid rgb(139, 139, 139);
    border-radius: 3px;
    margin: 0;
    height: 76px;

}
.movie-item-text{


}
.movie-item-text a:hover{
    text-decoration: underline;

}
.update-time{
    float: bottom;
}
.movie-item-img{
    /* position: relative; */

}
.movie-item-img img{
    height: 100%;
    width: 90%;
    float: right;
}
.movie-item-img:hover{
    opacity: .8;
}
.creat-a-list{
    padding: 5px;
    
} 
.creat-a-list:hover{
    background-color: rgba(63, 60, 60, 0.191);
    
} 
.creat-a-list a{
    text-align: center;
    color: black;

}
.creat-a-list:hover svg{
    color: black !important;
}
.UserList{
    position: relative;
}
.UserPolls{
    position: relative;
}