@media (max-width: 990px) {
    .nav{
        display: none;
    }
    .my-sm-ratting{
        display: none;
    }
    .my-svg{
        margin-top: 0px;
    }
    .resp-rating{
        display: flex;
    }

    .sub-nav {
        padding: 0rem .5rem;
    }

   .sub-nav .my-nav-ul{
        display: none;
    }

    .post-more{
        display: flex;
    
    }
    .post-more-box{
       
        height: 50px;
        width: 100%;
        padding: 1rem 0rem;
    }
    .post-more-box p{
       display: inline;
    }

    .my-text-detals{
        display: none;
    }
    .my-ratting {
        width: 105px;
    }
    .top-creadit{
        display: block;
    }

    .right-part-moreExp{
        display: none;
    }
    

    .artist{
        display: flex;
   
    }
    .max-width{
     margin-left: 0rem;

    }
    .artist-1 img{
        width: 150px;
        clip-path: circle();
        height: 113px;
    
    }
    .artist-1 {
        display: block;
        margin: 0.2rem;
    }
    
    .artist-1 p{
       padding: 0px;
       text-align: center;
    }
    
}
